// COLOR VARIABLES
$color-primary: #283247;
$color-primary-dark: #4d28a3;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: rgb(63, 94, 141);

$color-grey-dark-1: rgb(115, 116, 182);
$color-grey-dark-2: #3d3256;

$color-white: #fff;
$color-black: rgb(17, 16, 16);



//RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   //1200px divide by 16px
$bp-large: 62.5em;   //1000px divide by 16px
$bp-medium: 50em;    // 800px divide by 16px
$bp-small: 37.5em;   // 600px divide by 16px

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;


// Spacing 
$small-size: 1.2rem;
$medium-size: 1.6rem;
$large-size: 3.2rem;
$xlarge-size: 4.8rem;
$desktop-breakpoint: 45rem;