*,
*::before,
*::after {
    margin: 0;
    padding: 0; 
    box-sizing: inherit; 
}

html {
    box-sizing: border-box;
    font-size: 62.5%;   // 10px/16px = 62.5% --> 1rem = 10px
}


body {
    font-family: $font-primary;
    color: $color-grey-light-1;
    font-weight: 300;
    line-height: 1.6;  
}


.container {
    display: grid;
    grid-template-rows: 80vh 40vw repeat(2, min-content);
    grid-template-columns: [full-start] auto [center-start]repeat(8, [col-start] minmax(min-content, 14rem)[col-end])[center-end] auto [full-end];
    
       
    & > * {
        padding: 40px;
        font-size: 3rem;
        
    }




}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}